@charset "UTF-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #fff;
  line-height: 1.4em;
  text-align: center;
  background-color: #BF3EFF;
}

.wrapper {
  width: 100%;
  padding: 0 10%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
 font-family: 'Rock Salt', cursive;
 color: #eaeaea;
 padding-bottom: 25px;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

header {
  height: 500px;
  display: flex;
  justify-content:center;
  align-items:center;
  background-attachment: fixed;
  background-image:url("../images/awesomefest-2.jpg");
  

}
main .images{
  width: 100%;
}
.images {
  display:flex;

}

.images div {
  width: 50%;
}

main {
  padding-top: 60px 0;

}
form{
  max-width: 700px;
    background-color: Lightgrey;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
    text-align: center;

}
input[type=text],
input[type=email],{
  width: 50%%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=email],#cardNumber,#cvv
 {
  border: 2px solid red;
  border-radius: 4px;}

button{
  font-size: 20px;
  border-radius: 12px;
  border-color: yellow;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
input[type=radio]{
  display: inline-flex;


cursor: pointer;

}
footer p {
  color: #333;
  padding: 30px;
}
